@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #c9ebff;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding:40px;
}

.top-bg-container {
    background-color: #009da8;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}
.bottom-bg-container {
    background-color: #e6f6ff;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.top-heading {
    font-size: 30px;
    color:white;
    font-weight: bolder;
}


.top-description {
    color:rgba(7, 7, 59, 0.925);
    font-size: 14px;
}



.bg-heading {
    font-size: 15px;
    font-weight: bold;
}

  .navlink:link, .navlink:visited {
    background-color:#c9ebff;
    color: black;
    border: 1px solid rgb(0, 83, 138);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .navlink:hover, .navlink:active {
    background-color: rgb(0, 83, 138);
    color: white;
  }
.navlink{
    margin:12px;
}
.newcollect{
    margin:21spx;
    width:180px;
}
.newcollect {
    transition: transform 0.3s ease-in-out;
}

.newcollect:hover {
    transform: scale(1.1);
}
.card {
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    width:90vw;
}
.brand{
    height:100px;
    width:150px;
    margin:10px;
    
}
.butclass{
    margin:20px;
}

.card-heading {
    font-size: 20px;
    padding: 10px;
}

.card_3 {
    margin: 10px;
}

.card-description {
    margin: 26px;
}

.card-heading2 {
    font-size: 20px;
    margin:10px;
}
.book-description{
    margin:10px;
    padding:20px;
}
.hr {
    border-top: 1px blue;
}

.button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    height: 35px;
    border-width: 0px;
    text-align: center
}
.copyright-box{
    background-color: #009da8;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.copyright-img{
    margin:20px;
}